$background-color: #FAF2EA;
$color-white: #ffffff;
$theme-color: #F35A1B;

@mixin respond($breakpoint) {
    @if $breakpoint == phone {
      @media (max-width: 37.5em) {
        @content;
      } //600px
    }
    @if $breakpoint == tab-port {
      @media (max-width: 56.25em) {
        @content;
      } //900px
    }
    @if $breakpoint == tab-land {
      @media (max-width: 75em) {
        @content;
      } //1200px
    }
    @if $breakpoint == big-desktop {
      @media (min-width: 112.5em) {
        @content;
      } //1800px
    }
}

@mixin zero-space {
    margin: 0;
    padding: 0;
  }


html {
    font-size: 62.5%;
    height: 100%;
    box-sizing: border-box;
  
    @include respond(tab-port) {
      font-size: 50%; // 1rem = 8px, 8/16 * 100 = 50%
    }
  
    @include respond(phone) {
      font-size: 45%; // 1rem = 8px, 8/16 * 100 = 50%
    }
}
body{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    height: 100%;
}
  
input,
textarea,
button,
select,
a,
label,
span,
div,
p{
    -webkit-tap-highlight-color: rgba(0,0,0,0)
}

.container{
    background-color: $background-color;
    height: 100%;
    width: 100%;
    overflow: scroll;
}
.top-bar-container{
    height: 6rem;
    position: relative;
    width: 100%;
    background-color: $color-white;
}
.company-logo{
    position: absolute;
    top: 50%;
    left: 5rem;
    transform: translateY(-50%);
    width: 16rem;
    height: 100%;

    @media(max-width: 700px){
        left: 2rem
    }
}
.loan-container{
    width: 65%;
    margin: 2rem auto;

    @media(max-width: 1520px){
        width: 70%;
    }
    @media(max-width: 1120px){
        width: 85%;
    }
    @media(max-width: 600px){
        width: 90%;
    }
}
.page-title{
    font-family: HeadlineBlack, Helvetica, Arial, sans-serif;
    font-size: 3.2rem;
    color: $theme-color;
    margin: 4rem 2rem 2rem 2rem;
}
.form-container{
    width: 100%;
    background-color: $color-white;
}
.form-header{
    width: 96%;
    padding: 3rem 2% 0rem 2%;
    background-color: #FDFAF6
}
.form-info-wrapper{
    width: 90%;
    padding: 0 2% 0 8%;
    border: 1px solid #96AFDD;
    background-color: #E8EFF9;
    position: relative;
    overflow: hidden;

    @media (max-width: 600px){
        width: 87%;
        padding: 0 2% 0 11%;
    }
    @media (max-width: 360px){
        width: 84%;
        padding: 0 2% 0 14%;
    }
}
.form-info-text{
    font-size: 1.5rem;
    line-height: 1.8rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.form-info-icon-wrapper{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: absolute;
    width: 6.5rem;
    height: 3.8rem;
    border-radius: 10rem;
    background-color: #4572BF;
    top: 0;
    left: -3rem;
    padding-right: 1rem;
    cursor: pointer;
}
.info-icon-circle{
    background-color: $color-white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    color: #4572BF;
    width: 2.2rem;
    height: 2.2rem;
    border-radius: 50%;
    font-weight: bold;
}
.error-msg-wrapper{
    padding-top: .5rem;
    padding-bottom: .5rem;
    background-color: rgba($theme-color, .2);
    border: .03rem solid rgba(red, .8);
    margin-bottom: 3rem;
}
.error-icon-theme{
    background-color: rgba(red, .8);
}
.error-icon-text{
    color: rgba(red, .8);
    background-color: $color-white;
}

.form-steps-wrapper{
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: relative;
    margin: 2rem auto 0 auto;
    overflow: hidden;

    @media (max-width: 460px){
        width: 95%;
    }
}
.step-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @media (max-width: 360px){
        margin-bottom: 1.5rem;
    }
}
.step-linker{
    width: 90%;
    margin: 0 auto;
    height: .1rem;
    background-color: rgba(0,0,0, .03);
    position: absolute;
    top: 2rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}
.step-circle{
    width: 3.8rem;
    height: 3.8rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #D3C4BC;
    font-size: 2rem;
    font-weight: bold;
    color: $color-white;
    z-index: 2;
    cursor: pointer;
}
.step-text{
    font-size: 1.5rem;
    color: #247886;
    cursor: pointer;
    

    &:hover{
        //text-decoration: underline;
    }

    @media (max-width: 360px){
        display: none;
    }
}
.completed-status{
    background-color: green
}
.ready-status{
    background-color: #FDC129
}

.form-body{
    width: 96%;
    padding: 3rem 2% 0rem 2%;
}
.application-form{
    width: 100%;
}
.form-centered{
    width: 70%;
    //background-color: green;
    padding: 2rem 15%;
    margin: 0 auto;

    @media(max-width: 600px){
        width: 85%;
        padding: 2rem 7.5%;
    }
}
.input-label{
    font-size: 1.5rem;
    color: #A28B80;
}
.no-display{
    display: none;
}
.range-input-phone{
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #BCD8DA;
    margin: 1.6rem 0 1rem 0;
    font-size: 2rem;
    font-weight: bold;
    border-radius: .35rem;
    position: relative;
}
.input-handles{
    width: 6rem;
    height: 4.5rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #EAF8F1;
    cursor: pointer;
}
.input-value{
   text-align: center;
   font-size: 2rem;
   font-weight: bold;
   border: none;
   outline: none;
}
.currency-symbol{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(100%, -150%)
}
.input-value-right{
    border-left: 1px solid #BCD8DA;
}
.input-value-left{
    border-right: 1px solid #BCD8DA;
}
.max-min-label-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: rgba(0,0,0, .3);
    font-size: 1.5rem;
    margin-bottom: 1.8rem;
}
.max-min-label{
    @include zero-space
}
.input-field{
    width: 35%;
    border: 1px solid #BCD8DA;
    background-color: #EAF8F1;
    display: block;
    height: 4.5rem;
    border-radius: .35rem;
    padding: 0 1.5rem;
    margin: 1.5rem 0 1rem 0;

    @media (max-width: 750px){
        width: 45%;
    }
    @media (max-width: 400px){
        width: 55%;
    }
}
.resize-input{
   // width: 35%;
}
.custom-dropdown{
    position: relative;
    display: flex;
    //justify-content: center;
    align-items: center;
}
.select-field{
    width: 100%;
    position: absolute;
    height: 4.5rem;
    top: 0;
    left: 0;
    opacity: 0;
    z-index: 2;
}
.dropdown-text{
    font-size: 1.5rem;
}
.dropdown-icon{
    position: absolute;
    top: 50%;
    right: 1rem;
    transform: translateY(-50%);
    font-size: 1.7rem;
    cursor: pointer;
    z-index: 1;
}
.no-background{
    background-color: $color-white;
}
.section-container{
    width: 100%;
}
.section-title{
    font-size: 2rem;
    color: #512b2b;
    line-height: 2rem;
    padding-bottom: .7rem;
    border-bottom: .05rem solid rgba(0,0,0, .1);
}
.remove-margin{
    margin: 0;
}

.summary-row{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom: .05rem solid rgba(0,0,0, .1);
    font-size: 1.6rem;

    @media(max-width: 400px){
        justify-content: space-between;
    }
}
.summary-description{
    color: #A38C81;
    width: 38%;
    padding: .2rem 1%;

    @media(max-width: 530px){
        width: 45%
    }

    @media(max-width: 400px){
        width: auto
    }
}
.summary-value{
    color: rgba(0,0,0, .7);
    width: 58%;
    padding: .2rem 1%;

    @media(max-width: 530px){
        width: 51%
    }
    @media(max-width: 400px){
        width: auto
    }
}

.radio{
   display: flex;
   width: 100%;
   flex-direction: row;
   align-items: center;
}

.form-radio-group{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0 2rem;
}
  
.form-radio-input{
    display: none;
}

.form-radio-label{
    font-size: 1.8rem;
    cursor: pointer;  
    position: relative;
}
.radio-label{
    font-size: 1.8rem;
    padding-left: 1rem
}
.form-radio-button{
    height: 2.5rem;  
    width: 2.5rem;
    border: .1rem solid  #BCD8DA;
    border-radius: 50%;
    display: inline-block;
    position: relative;
// top: -.45rem;
// left: 0;

    &::after {
        content: "";
        display: block;
        height: 2rem;
        width: 2rem;
        border-radius: 50%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color:  $theme-color;
        opacity: 0;
        transition: opacity .2s;
    }
}

.form-radio-button:hover{
    background-color: #FDC129;
}

.form-radio-input:checked ~ .form-radio-label{

    .form-radio-button::after{
        opacity: 1;
    }
    .form-radio-button{
        border: 5px solid $theme-color
    }
    .form-radio-button:hover{
        .form-radio-button::after{
            opacity: 1;
            border: .1rem solid #000;
            background-color: #FDC129
        }
        .form-radio-button{
            border: 5px solid #FDC129
        }
    }
}

.form-footer{
    width: 96%;
    padding: 2rem 2%;
    background-color: #FDFAF6;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 4rem;
}
.nav-btn{
    padding: 1.3rem 2rem;
    //width: 8rem;
    font-size: 2rem;
    font-weight: 600;
    border-radius: .35rem;
    text-align: center;
    cursor: pointer;
}
.back-btn{
    background-color: #DDC7B6;
    color: rgba(0,0,0, .8);

    &:hover{
        background-color: rgba(#DDC7B6, .8)
    }
}
.next-btn{
    background-color: rgba($theme-color, .8);
    color: rgba(#ffffff, .8);

    &:hover{
        background-color: rgba($theme-color, 1)
    }
}
.hide-display{
    visibility: hidden;
}

.form-notice{
    display: block;
    font-size: 1.3rem;
    color: #A28B80;
    padding-top: 1.5rem;
    border-top: .05rem solid rgba(0,0,0, .1);
}
.comment-toggle-wrapper{
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5rem;
    position: relative;
    margin: 2rem auto;
}
.toggle-line{
    height: .05rem;
    background-color: rgba(0,0,0, .1);
    width: 100%;
}
.toggle-btn{
    width: 12rem;
    padding: 1rem .5rem; 
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 1.6rem;
    color:rgba(0,0,0, .7);
    transform: translate(-50%, -50%);
    border: .05rem solid rgba(0,0,0, .1);
    background-color: $color-white;
    border-radius: 10rem;
    cursor: pointer;
}

.comment-box{
    width: 90%;
    height: 17rem;
    border: 1px solid #BCD8DA;
    padding: 1.5rem;
    margin: 1.5rem 0 1rem 0;
    border-radius: .35rem;
    display: block;
    font-family: Helvetica, Arial, sans-serif;
}
.centered-mid{
    width: 60%;
    margin: 0 auto 2rem auto;
    height: 0rem;
    //display: none;
    opacity: 0;
    transition: all .3s ease;

    @media (max-width: 700px){
        width: 80%;
    }
    @media (max-width: 320px){
        width: 90%;
    }
}
.space-label{
    padding-bottom: 1.5rem;
    display: block
}


//============== LANDING PAGE ==================
.landing-page-container{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(
      to right,
      rgba(#FDFAF6, .97),
      rgba(#FDFAF6, .97)
    ),
    url("../assets/swedbank_logo.png");
    background-size: contain;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center center;
    overflow: hidden;
}
.company-logo-2{
    position: fixed;
    width: 22rem;
    top: 1.5rem;
    left: 5rem;

    @media (max-width: 700px){
        left: 2rem;
    }
    @media (max-width: 430px){
        width: 18rem
    }
}

.landing-text-container{
    width: 95rem;
    margin: 3rem auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #A38C81;
    text-align: center;
    font-family: HeadlineBlack, Helvetica, Arial, sans-serif;
    //background-color: green

    @media (max-width: 1020px){
        width: 80rem
    }
    @media (max-width: 700px){
        width: 65rem
    }
    @media (max-width: 530px){
        width: 60rem
    }
    @media (max-width: 460px){
        width: 50rem
    }
    @media (max-width: 380px){
        width: 45rem
    }
    @media (max-width: 340px){
        width: 38rem
    }
}
.about-page{
    font-size: 2.6rem;

    @media (max-width: 380px){
        font-size: 1.8rem
    }
}
.loan-advert{
    font-size: 5rem;
    @include zero-space;

    @media (max-width: 530px){
        font-size: 3.2rem
    }
    @media (max-width: 380px){
        font-size: 2.8rem
    }
}
.start-btn{
    padding: 1.7rem 2rem;
    width: 11rem;
    color: $color-white;
    background-color: #FF8854;
    border-radius: .4rem;
    font-size: 1.8rem;
    font-weight: bold;
    margin: 3rem auto 1.5rem auto;
    cursor: pointer;

    &:hover{
        background-color: #FDC129;
    }
}
.page-intro{
    font-size: 1.4rem;
    @include zero-space;

    @media (max-width: 380px){
        font-size: 1.3rem
    }
}
.loan-illustrator{
    width: 45rem;
    margin-top: 5rem;

    @media (max-width: 360px){
        width: 38rem
    }
}